body {
    background-image: url("https://static.wixstatic.com/media/859125_b2c3afdae81f4098a4a61fe387e921fc~mv2.jpg");
    color: #090909;
}

h3 {
    text-align: center;
}

th {
    text-align: center;
}

td {
    text-align: center;
}

.filterable {
    margin-top: 15px;
}
.filterable .panel-heading .pull-right {
    margin-top: -20px;
}

.width_inp {
    margin-left: 35%;
    width : 30%;
    text-align: center;
}

