body {
    background-image: url("https://static.wixstatic.com/media/859125_b2c3afdae81f4098a4a61fe387e921fc~mv2.jpg");
    color: #090909;
}

.title {
    margin-top: 3%;
}

.content {
    text-align: center;
}

.accueil {
    margin-bottom: 75px;
    margin-top: 75px;
}

.logo {
    position: relative;

    animation-name: balloon;
    animation-duration: 2s;
    animation-iteration-count: 1;
}

@keyframes balloon {
    0%   {left:0px; top:0px;}
    100% {left:2000px; top:0px;}
}